:root {
  --alabaster: #d5dddf;
  --travertine: #E5E3D0;
  --green-mist : #C8C49F;
  --sinbad: #a5834c;
  --fountain-blue: #65A4AA;
  --karry: #FFD6C6;
  --burnt-orange: #fe6406;
  --nero: #472100;
}

body {
  background-color: var(--alabaster);
}

datalist {
  background-color: var(--alabaster);
  border: 1px solid blue;
}

option {
  background-color: var(--alabaster);
  color: blue;
}

option:hover,  .active{
  background-color: lightblue;
}

#mentat-site {
  color: var(--nero);
}

/* Navigation */

.film-calendar-header {
  color: var(--alabaster);
  background-color: var(--burnt-orange);
}

/* Sign-Up & Home */

.film_mentat-home {
  background-color: var(--alabaster);
}

/* Search Functions */

.film-calendar-search {
  background-color: var(--sinbad);
}

.film-calendar-search-box {
  background-color: var(--sinbad);
}

.film-search-cancel {
  border-bottom: 1px solid var(--fountain-blue);
}

.search-results-number {
  color: var(--alabaster);
  background-color: var(--sinbad);
}

/* Search Result Card */

.film-calendar-search-box {
  border-bottom: 1px solid var(--fountain-blue);
}

.search-result-card {
  background-color: transparent;
  border-bottom: 1px solid var(--fountain-blue);
}

.film-result {
  color: var(--alabaster);
  background-color: transparent;
}

.film-poster {
  background-color: var(--fountain-blue);
}

.film-poster-img {
  background-color: var(--green-mist);
}

.film-title-year h4 {
  color: var(--nero);
}

.film-title-year span {
  color: var(--nero);
}

/* Film Calendar List */

.dash-border {
  background-image: repeating-linear-gradient(-1deg, var(--green-mist), var(--green-mist) 18px, transparent 18px, transparent 35px, var(--green-mist) 35px), repeating-linear-gradient(89deg, var(--green-mist), var(--green-mist) 18px, transparent 18px, transparent 35px, var(--green-mist) 35px), repeating-linear-gradient(179deg, var(--green-mist), var(--green-mist) 18px, transparent 18px, transparent 35px, var(--green-mist) 35px), repeating-linear-gradient(269deg, var(--green-mist), var(--green-mist) 18px, transparent 18px, transparent 35px, var(--green-mist) 35px); 
  background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat; 
}

.empty-text h1 {
  color: var(--burnt-orange);
  font-weight: bold;
}

.film-calendar-month {
  background-color: var(--sinbad);
  color: var(--alabaster);
}

.film-calendar-month h2 { 
  color: var(--nero);
}

.film-date-border {
  border: 1.5px solid var(--burnt-orange);
  color: var(--burnt-orange);
}

/* Film Event Card */

.film-series {
  color: var(--burnt-orange);
}

.film-event {
  background-color: var(--travertine);
}

.edit {
  background-color: transparent; 
  border: none; 
  color: var(--burnt-orange);
}

/* Buttons */

.search {
  background-color: var(--burnt-orange);
  border: none;
  color: var(--nero);
}

.account {
  background-color: transparent;
  border: none;
  color: var(--travertine);
}

.local {
  background-color: transparent;
  border: none;
  color: var(--travertine);
}

.save {
  background-color: var(--burnt-orange);
}
.save:hover {
  color: var(--burnt-orange);
  background-color: var(--karry);
}
.delete {
  color: var(--burnt-orange) !important;
  background-color: var(--karry);
}
.delete:hover {
  background-color: var(--travertine);
}
.cancel {
  color: var(--burnt-orange) !important;
  background-color: var(--travertine);
}
.cancel:hover {
  background-color: var(--alabaster);
}

/* Film Event Editor */

.film-edit-form input {
  background-color: var(--alabaster);
  color: var(--nero);
}

.film-update-buttons > button {
  color: var(--alabaster);
}