:root {
  --nebula-01:    #D8E3DF;
  --nebula-02:    #EEF2F1;
  --persian-01:   #9DA6F2;
  --persian-02:   #6270EA;
  --persian-03:   #293BE2;
  --persian-04:   #090E40;
  --malachite-01: #00E054;
}

body {
  background-color: var(--nebula-01);
}

datalist {
  background-color: var(--nebula-02);
  border: 1px solid blue;
}

option {
  background-color: var(--nebula-02);
  color: blue;
}

option:hover,  .active{
  background-color: lightblue;
}

#mentat-site {
  /* color: var(--persian-03); */
  color: var(--nebula-02);
}

/* Navigation */

.film-calendar-header {
  color: var(--nebula-02);
  background-color: var(--persian-04);
}

/* Sign-Up & Home */

.film_mentat-home {
  background-color: var(--persian-04);
}

/* Search Functions */

.film-calendar-search {
  background-color: var(--persian-03);
}

.film-calendar-search-box {
  background-color: var(--persian-03);
}

.search-results-number {
  color: var(--nebula-02);
  background-color: var(--persian-03);
}

/* Search Result Card */

.search-result-card {
  background-color: transparent;
  border: 1px solid var(--persian-04);
  /* border-bottom: 1px solid var(--persian-04); */
}

.film-result {
  color: var(--nebula-02);
  background-color: transparent;
}

.film-poster {
  background-color: var(--persian-03);
  background-color: var(--malachite-01);
}

.film-poster-img {
  background-color: var(--persian-03);
  background-color: var(--malachite-01);
}

/* .film-text{
  background-color: var(--malachite-01);
} */

.film-title-year span {
  color: var(--nebula-02);
}

/* Film Calendar List */

.film-calendar-month {
  background-color: var(--persian-03);
  color: var(--nebula-02);
  background-color: var(--persian-03);
}

.film-date-border {
  border: 1.5px solid var(--persian-03);
  color: var(--persian-03);
}

/* Film Event Card */

.film-series {
  background-color: var(--persian-04);
  color: var(--nebula-02);
}

.film-event {
  background-color: var(--nebula-02);
  /* border-bottom: 1px solid var(--persian-03); */
}

.edit {
  background-color: transparent;  
  border: 2px solid var(--persian-01);
  color: var(--persian-01);
}

/* Buttons */

.search {
  background-color: transparent;
  border: 2px solid var(--malachite-01);
  color: var(--malachite-01);
}

.account {
  background-color: transparent;
  border: 2px solid var(--malachite-01);
  color: var(--malachite-01);
}

.local {
  background-color: transparent;
  border: 2px solid var(--malachite-01);
  color: var(--malachite-01);
}

.save {
  background-color: var(--persian-03);
}
.save:hover {
  background-color: var(--persian-04);
}
.delete {
  background-color: var(--persian-02);
}
.delete:hover {
  background-color: var(--persian-03);
}
.cancel {
  background-color: var(--persian-01);
}
.cancel:hover {
  background-color: var(--persian-02);
}

/* Film Event Editor */

.film-edit-form input {
  background-color: var(--nebula-01);
  color: var(--persian-04);
}

.film-update-buttons > button {
  color: var(--nebula-02);
}