:root {
  --nebula-01:    #D8E3DF;
  --nebula-02:    #EEF2F1;
  --persian-01:   #9DA6F2;
  --persian-02:   #6270EA;
  --persian-03:   #293BE2;
  --persian-04:   #090E40;
  --malachite-01: #00E054;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

datalist {
  position: absolute;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 350px;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto 
}
option {
  background-color: white;
  padding: 4px;
  color: blue;
  margin-bottom: 1px;
   font-size: 18px;
  cursor: pointer;
}

option:hover,  .active{
  background-color: lightblue;
}

#mentat-site {
  background-color: var(--nebula-01);
  color: var(--persian-03);

  display: grid;
  margin: auto;

  /* width: 390px;
  border: 1px solid red;
  box-sizing: border-box; */
}

* {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  font-size: 18px;
  font-weight: 500;
}

h2 {
  font-size: 15px;
  font-weight: 400;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  line-height: 0.85;
}

h4 {
  font-size: 12px;
  line-height: 1.5em;
}

.film-title-year span {
  color: var(--persian-03);
  margin-left: 8px;
  font-size: 10px;
  line-height: 1.25;
  font-weight: 500;
}

p {
  margin: 2px 0;
}

.film-calendar-header {
  color: var(--nebula-02);
  background-color: var(--persian-04);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 24px;

  height: 60px;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.film-calendar-sitename {
  display: flex;
  align-items: center;
  gap: 12px;
}

.film-calendar-sitename h1 {
  line-height: 1;
}

.film-calendar-search {
  position: fixed;
  padding: 32px;
  background-color: #293BE2;

  
  left: 0;
  right: 0;
  overflow: scroll;
  z-index: 3;
  
  transition: ease-in-out 0.25s;
}

.pause-scroll {
  position: fixed;
  width: 100%;
  background-color: var(--nebula-01);
}

.toggle-off {
  margin-top: 0px;
  height: 0px;
  visibility: hidden;
}

.toggle-on {
  margin-top: 60px;
  height: calc(100vh - 124px);
  visibility: visible;
}



.turn-left {
  transform: rotate(0);
}

.turn-right {
  transform: rotate(45deg);
}

.film-calendar-search-box {
  background-color: #293BE2;
  height: 60px;
  margin-top: -32px;
  padding: 24px 0;

  position: sticky;
  z-index: 20;
  top: -32px;
  left: 0;
  right: 0;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem; /* 8px */
  width: 100%;
  font-size: 1rem; /* 20px */
  line-height: 1.5rem; /* 28px */
}

.search-results-number {
  color: var(--nebula-02);
  background-color: var(--persian-03);
  bottom: -32px;
  position: sticky;
  margin-bottom: -32px;
  padding: 24px 0 32px;
}

.film-calendar-list {
  display: flex;

  margin-top: 36px;
  padding-top: 24px;
}

.content-wrap {
  margin: auto;

  width: 100%;
  max-width: 1200px;
}



.film-series {
  display: flex;
  box-sizing: border-box;

  align-items: center;
  justify-content: space-between;

  background-color: var(--persian-04);
  color: var(--nebula-02);

  padding: 12px;
  width: 100%;
  
  font-size: 12px;
  /* font-size: .875rem; */
  letter-spacing: .4px;
  line-height: 1;

  /* text-transform: uppercase; */
}

.film-calendar-month h2 {
  font-size: 20px;
  letter-spacing: 2px;
}

.month-wrap {
  /* border: 1px solid green; */
}

.day-wrap {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 12px;
  padding: 0 12px;
}

.film-calendar-month {
  position: sticky;
  z-index: 2;
  display: flex;
  box-sizing: border-box;

  align-items: center;
  justify-content: space-between;

  background-color: var(--persian-03);
  color: var(--nebula-02);
  
  font-size: 14px;
  font-size: .875rem;
  letter-spacing: .4px;
  line-height: 1;
  text-transform: uppercase;

  background-color: #293BE2;
  height: 45px;




  width: 100%;

  top: 60px;

  padding: 0 16px;
  margin-bottom: 24px;

}

.film-calendar-day {
  position: sticky;
  z-index: 1;

  height: 60px;
  top: 128px;
  margin-bottom: 6px;
}





.film-card {
  margin-bottom: 24px;
  border-radius: 6px;
  overflow: hidden;

  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.search-result-card {
  background-color: transparent;
  border: 1px solid var(--persian-04);
  /* border-bottom: 1px solid var(--persian-04); */
  border-radius: 8px;
  cursor: pointer;
  padding: 0 16px;
  margin-bottom: 24px;
}

.search-result-card .film-result {
  color: white;
  background-color: transparent;
  grid-template-columns: 50px 1fr;
}

.film-event {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 18px;
  
  background-color: var(--nebula-02);
  /* border-bottom: 1px solid var(--persian-03); */
  
  /* margin-bottom: 24px; */
  padding: 18px 12px;
}

.film-result {
  display: grid;
  grid-template-columns: 40px 50px 1fr;
  gap: 18px;
  color: var(--nebula-02);
  background-color: transparent;
  padding: 12px 0;
}



















.film-poster-img {
  background-color: var(--persian-03);
  background-color: var(--malachite-01);

  border-radius: 4px;
  width: 50px;
  height: 73.33px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.film-poster {
  background-color: var(--persian-03);
  background-color: var(--malachite-01);

  border-radius: 4px;
  width: 50px;
  height: 73.33px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.film-date-border {
  box-sizing: border-box;
  border: 1px solid #445565;
  border-radius: 4px;
  display: grid;
  align-content: center;
  color: #445565;
  height: 44px;

  text-align: center;
}

.film-date-border span {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.film-text{
  /* background-color: #00E054; */

  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 15px;
  align-items: center;
  /* padding: 0 16px; */
  /* margin-bottom: 24px; */
}

.film-edit {
  grid-column: 1 / 3;
}

.film-update-buttons {
  grid-column: 1 / 3;
  margin-left: auto;
  padding-right: 4px;
}

.film-update-buttons > button {
  margin-left: 8px;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
  border: none;
  border-radius: 3px;
  line-height: 12px;
  padding: 9px 12px 8px;
  color: var(--nebula-02);
  cursor: pointer;
  transition: ease-in-out 0.25s;
}

.film-info {
  transition: ease-in-out 0.25s;
}

.film-edit .show {
  visibility: visible;
}

.film-edit .hide {
  visibility: hidden;
}

.save {
  background-color: var(--persian-03);
}
.save:hover {
  background-color: var(--persian-04);
}
.delete {
  background-color: var(--persian-02);
}
.delete:hover {
  background-color: var(--persian-03);
}
.cancel {
  background-color: var(--persian-01);
}
.cancel:hover {
  background-color: var(--persian-02);
}

.film-edit-button {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.film-edit-button button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  transition: ease-in-out 0.25s;
}

.film-edit-button button > svg:hover {
  color: var(--persian-03);
  transition: ease-in-out 0.25s;
  cursor: pointer;
}





.film-edit-form {
  /* border: 1px solid orange; */
  display: flex;
  flex-wrap: wrap;
  padding-right: 4px;
}

.film-edit-form input {
  /* background-color: #cde; */
  box-shadow: inset 0 -1px 0 #fff;
  /* color: #567; */
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 9px 9px 8px;
  width: 100%;
}

.edit-film-date, 
.edit-film-format, 
.edit-film-series {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 50px;
}

.edit-film-date {
  /* background-color: pink; */
  display: grid;
  grid-template-columns: 70px 1fr;
}

.edit-film-format {
  display: grid;
  grid-template-columns: 70px 1fr;
  /* background-color: #00E054; */
}

.edit-film-series {
  display: grid;
  grid-template-columns: 70px 1fr;
  /* background-color: #6270EA; */
}

.film-calendar-nav {
  display: flex;
}

.account {
  border: 2px solid #00E054;

  margin-left: 1rem;
  margin-right: 2px;
  border-radius: 2rem;

  width: 100%;
  max-width: 35px;
  height: 35px;

  color: #00E054;
  background-color: transparent;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
}

button.account svg {
    margin-left: auto;
    margin-right: auto;
}

.search {
  transition: ease-in-out 0.25s;
  
  border: 2px solid #00E054;
  /* padding-top: 0.2rem; */
  margin-left: 1rem;
  margin-right: 2px;
  border-radius: 2rem;

  width: 100%;
  max-width: 35px;
  height: 35px;

  color: #00E054;
  background-color: transparent;

  cursor: pointer;

  display: inline-flex;
  align-items: center;

}

button.search svg {
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 600px) {
  .search {
    transition: ease-in-out 0.25s;
  
    border: 2px solid #00E054;
    
    border-radius: 2rem;

    width: 100%;
    max-width: 30px;
    height: 30px;

    color: #00E054;
    background-color: transparent;

    cursor: pointer;

    box-sizing: content-box;
    padding: 0;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
  }
}