* {
  margin: 0;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

datalist {
  position: absolute;
  border-radius: 0 0 5px 5px;
  border-top: none;
  width: 350px;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto 
}
option {
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

#mentat-site {
  margin: auto;
  width: 390px;
  /* border: 1px solid red;
  box-sizing: border-box; */
  display: flex;
  flex-flow: column;
  height: 100vh;

  scrollbar-width: none;
}

/* Stylings */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

/* Navigation */

.film-calendar-header {
  /* position: fixed; */
  /* left: 0; */
  /* right: 0; */
  /* z-index: 10; */
  width: 390px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 18px;
  box-sizing: border-box;
  /* border-radius: 14px; */
}

.header-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  margin: auto;
  padding: 0 0 10px;
  width: 100%;
  max-width: 390px;
}

.header-wrap > * {
  font-size: 24px;
  font-weight: 600;
}

.film-calendar-sitename {
  align-items: center;
  gap: 12px;
}

.film-event-filter {
  position: sticky;
  z-index: 3;
  box-sizing: border-box;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: scroll;
}

.film-event-filter p {
  font-size: 12px;
  font-weight: 600;
}

.film-event-filter > div {
  box-sizing: border-box;
  height: 32px;
  display: flex;
  
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll; 
}

.film-event-filter > div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* .event-dates::-webkit-scrollbar {
  display: none;
} */

.film-event-filter > div div {
  cursor: pointer;
  flex: 0 0 auto;
  margin-right: 12px; 
  padding: 6px 12px;
  border: 2px solid var(--light-blue);
  border-radius: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

.film-event-filter > div div:last-child {
  margin-right: 0;
}

.film-event-filter > div p {
  line-height: 1;
}

.highlight {
  color: var(--deep-teal);
  font-weight: 600;
  background-color: var(--light-blue);
  border: 2px solid var(--light-blue) !important;
}

/* Search Functions */

.film-search-cancel {
  display: flex;
  /* margin-bottom: 16px; */
  padding: 6px 0;
}

.film-search-cancel > button {
  border: none;
  background-color: transparent;
  color: var(--tiber);
  cursor: pointer;
  font-size: 16px;
  font-weight: var(--fw-medium);
  padding:  0;
}

.add-a-film { 
  flex: auto;
}

.add-a-film h2 {
  color: var(--tiber);
  font-size: 16px;
  font-weight: var(--fw-medium);
}

.film-calendar-search {
  position: fixed;
  
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border-radius: 12px 12px 0 0;
  
  left: 0;
  right: 0;

  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 11;

  height: 100vh;
  
  transform-origin: 0 100%;

  transition: transform 0.65s ease-in-out;
  overscroll-behavior: contain;
  scrollbar-width: none;
}

.film-calendar-search::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  border-bottom: 1px solid var(--light-blue);
}

.film-calendar-search > div {
  transition: ease-in-out 0.5s;
}

.infinite-scroll-component__outerdiv {
  flex: 1;
  padding: 0 18px;
}

.toggle-off {
  transform: scaleY(0);
}

.toggle-off > div {
  opacity: 0;
}

.toggle-on {
  transform: scaleY(1);
}

.toggle-on > div {
  opacity: 1;
}

.film-calendar-search-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* height: 60px; */
  /* margin-top: -32px; */
  padding: 18px 18px 28px;

  position: sticky;
  z-index: 1;
  top: 0;
  /* left: 0; */
  /* right: 0; */
}

.search-form {
  justify-content: space-between;
}

.search-input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem; /* 8px */
  width: 100%;
}

.search-results-number {
  bottom: 0;
  font-size: 16px;
  font-weight: var(--fw-medium);
  line-height: 1;
  position: sticky;
  left: 0;
  right: 0;
  padding: 18px 18px 56px;
}

/* Search Result Card */

.search-result-card {
  cursor: pointer;
}

.film-result {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 18px;
  padding: 12px 0;
}

.film-result figure {
  background-color: var(--tiber);
  border-radius: 5px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1.5;
}

.film-poster {
  border-radius: 5px;
  /* width: 50px; */
  /* height: 73.33px; */
  overflow: hidden;
  /* margin: 5px 0 auto; */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  aspect-ratio: 1 / 1.5;
}

.film-poster-img {
  border-radius: 4px;
  /* width: 50px; */
  /* height: 73.33px; */
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  aspect-ratio: 1 / 1.5;
}

.film-text {
  grid-template-columns: 1fr 24px;
  gap: 8px;
  align-items: center;
  /* padding: 0 16px; */
  /* margin-bottom: 24px; */
}

.film-info {
  transition: ease-in-out 0.25s;
}

.film-title-year {
  /* align-items: baseline; */

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.film--year {
  font-size: 12px;
  font-weight: normal;
}

.endofResults {
  padding: 24px 0 12px;
}

/* Film Calendar List */

.dash-border {
  /* height: 100%; */
  flex-grow: 1;
  margin: 18px 6px 24px;
  display: flex;
}

.empty-text {
  text-align: center;
  margin: auto;
  line-height: 2;
}

.empty-ticket {
  width: 124px;
  margin: auto;
}

.film-calendar-list {
  flex: 1;
  /* padding: 12px; */
  overflow: auto;
  scrollbar-width: none;

  margin: 0 0 90px;
  flex-direction: column;
  padding: 0 18px;
  /* margin-top: 36px; */
  /* padding-top: 24px; */

  /* flex: 1; */
  /* overflow: auto; */
}

.film-calendar-list::-webkit-scrollbar {
  display: none;
}

/* .pause-scroll {
  position: fixed;
  width: inherit;
  z-index: 10;
} */

.empty-wrap {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-flow: column;
  height: calc(100vh - 78px);
}

.content-wrap {
  /* margin: auto; */

  width: 100%;
  max-width: 1200px;
}

.dates-list {
  background-color: var(--nero);
  overflow: scroll;
}

/* .month-wrap {
  padding-bottom: 42px;
} */

.month-wrap .day-wrap:last-child .film-calendar-event {
  border: none;
  margin-bottom: 0;
}

.film-calendar-month {
  position: sticky;
  z-index: 2;
  box-sizing: border-box;

  align-items: center;
  justify-content: space-between;

  height: 35px;
  width: 100%;

  top: 0px;

  margin-bottom: 24px;

}

.day-wrap {
  grid-template-columns: 40px 1fr;
  gap: 12px;
  margin-bottom: 24px;
}

.edit-film-date, 
.edit-film-format, 
.edit-film-series {
  align-items: center;
  gap: 12px;
  width: 100%;
  /* height: 50px; */
}

.film-calendar-day {
  position: sticky;
  z-index: 1;

  height: 38px;
  top: 58px;
  margin-top: -1px;
}

.film-date-border {
  text-align: center;
  gap: 8px;
}

.film-calendar-event {
  border-bottom: 1px solid var(--burnt-orange);
}

/* .film-calendar-event > div:last-child {
  margin-bottom: 18px;
} */

/* Film Event Card */

.film-card {
  margin-bottom: 12px;
  border-radius: 12px;
  overflow: hidden;
  /* cursor: pointer; */
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.15), 0 2px 4px -2px rgb(0 0 0 / 0.05); */
}

/* .film-card .cover-image {
    filter: blur(4px);
    -webkit-filter: blur(2px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  aspect-ratio: 2.88 / 1; 
} */

/* .film-series {
  box-sizing: border-box;

  align-items: center;
  justify-content: space-between;

  padding: 12px;
  width: 100%;
  height: 45px;
} */

.film-event {
  /* grid-template-columns: 38px 1fr; */
  grid-template-columns: 38px minmax(0, 1fr);
  gap: 18px;
  
  /* margin-bottom: 24px; */
  padding: 16px;
}

.film-edit-button {
  margin-bottom: auto;
}

.edit {
  /* box-sizing: border-box; */
  align-items: center;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  height: 24px;
  width: auto;
  padding: 0;
  aspect-ratio: 1 / 1;
  /* margin-left: 1rem; */
  /* margin-right: 2px; */
  transition: ease-in-out 0.25s;
}

button.edit svg {
    margin-left: auto;
    margin-right: auto;
}


/* Buttons */

.search {
  position: fixed;
  bottom: 108px;
  right: 18px;
  align-items: center;
  border-radius: 21px;
  cursor: pointer;
  height: 42px;
  width: 42px;
  /* margin-left: 1rem; */
  /* margin-right: 2px; */
  transition: ease-in-out 0.25s;
}

button.search svg {
    margin-left: auto;
    margin-right: auto;
}

.turn-right {
  transform: rotate(45deg);
}

.navButton {
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;
  height: 35px;
  gap: 8px;
}

button.NavButton svg, button.navButton svg {
    margin-left: auto;
    margin-right: auto;
}

button.NavButton span, button.navButton span {
  font-size: 12px;
  font-weight: 500;
  /* letter-spacing: 1%; */
}

/* Film Event Editor */

.film-edit {
  grid-column: 1 / 3;
}

.film-edit .show {
  visibility: visible;
}

.film-edit .hide {
  visibility: hidden;
}

.film-edit-form {
  flex-wrap: wrap;
  gap: 12px;
}

.film-edit-form input {
  appearance: none;
  -webkit-appearance: none;
  /* box-shadow: inset 0 -1px 0 #fff; */
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 9px 9px 8px;
  width: 100%;

  font-size: 14px;
  font-weight: var(--fw-regular);
}

.film-edit-form label {
  color: var(--tiber);
  font-size: 16px;
  font-weight: var(--fw-semibold);
}

.edit-film-date, 
.edit-film-format, 
.edit-film-series {
  grid-template-columns: 60px 1fr;
}

.film-update-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  gap: 18px;

  margin-left: auto;
  /* padding-right: 4px; */
}

.film-update-buttons > button,
.film-update-buttons a {
  border-radius: 6px;
  cursor: pointer;
  padding: 9px 12px 8px;
  transition: ease-in-out 0.25s;
  
  font-size: 14px;
  font-weight: var(--fw-semibold);
  line-height: 1;
}

.film-update-buttons a {
  align-content: center;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.search-save-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  gap: 18px;

  margin-left: auto;
}

.search-save-button > button {
  border-radius: 6px;
  cursor: pointer;
  padding: 9px 12px 8px;
  transition: ease-in-out 0.25s;
  
  font-size: 14px;
  font-weight: var(--fw-semibold);
  line-height: 1;
  width: 100%;
}

/* Home Page & Account Page */

.film_mentat-home {
  height: calc(100vh - 60px);
  height: -webkit-calc(100vh - 35px);

  margin-top: 60px;
  padding: 0 12px;
}

.home-image {
  position: relative;
  aspect-ratio: 2.5 / 1;
  overflow: hidden;  
}

.home-image img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-signin-text {
  margin-bottom: 24px;
}

.google-signin-button {
  margin: auto;
}

/* Letterboxd Page */

.film-letterboxd {
  margin-top: 36px;
  padding-top: 24px;
}

/* Footer */

.film-calendar-footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 0;
  width: 390px;
  margin: auto;
  
  display: flex;

  background-color: var(--black);
  padding-bottom: 36px;
  height: 54px;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  
  margin: auto;
  padding: 0 16px;
  width: 390px;
}

/* New Film Card */

/* .film-calendar-event .fm-movie-card:first-child {
  margin-bottom: 0;
} */

.fm-movie-card {
  display: flex;
  margin-bottom: -1px;
  cursor: pointer;
  /* border-radius: 12px; */
  /* overflow: hidden; */
  aspect-ratio: 2.29 / 1;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* min-height: 108px; */
  padding: 0 22px;
  box-sizing: border-box;
}

.fm-movie-card.modal {
  display: flex;
  flex-direction: column;
}

.fm-movie-card .container {
  display: grid;
  grid-template-columns: 55px minmax(0, 1fr);
  gap: 12px;
  margin: auto 0;
  /* padding: 16px 12px; */
  padding: 0 14px;
  height: calc(100% - 2px);
  width: 100%;
  border-bottom: 2px dashed var(--tiber);
}

.screening-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.screening-card .container {
  display: grid;
  grid-template-columns: 55px minmax(0, 1fr);
  gap: 12px;
}

.day-wrap .fm-movie-card:last-child .container {
  border-bottom: none;
}

.fm-movie-card figure,
.screening-card figure {
  background-color: var(--tiber);
  border-radius: 5px;
  overflow: hidden;
  margin: auto 0;
  /* margin: 5px 0 auto; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1.5;
}

.fm-movie-card .details,
.screening-card .details {
  /* white-space: nowrap; */
  display: flex;
  flex-direction: column;
  align-self: center;
}

.film-series > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;

  background-color: var(--lochmara);
  padding: 5px 6px;
  font-size: 8px;
  border-radius: 8px;
  line-height: 0.75;
}

.fm-movie-card .title-year {
  /* display: flex; */
  /* justify-content: flex-start; */

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 4px 0 0;
}

.details .director {
  margin: 1.5px 0;
}

.details .rating-duration-location {
  margin-top: 3px;
}

.fm-movie-card .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fm-movie-card .year {
  padding-left: 8px;
}

.fm-movie-card .director p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fm-movie-card .rating-duration-location p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Details & Edit Modal */

.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 11;
}

.turn-on {
  transition: 1s;
  visibility: visible;
}

.fm-details::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  border-bottom: 1px solid var(--light-blue);
}

.fm-details {
  box-sizing: border-box;
  position: fixed;
  background-color: var(--sinbad);
  border-radius: 12px 12px 0 0;
  /* padding: 24px 16px 32px; */
  /* padding: 32px; */
  top: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  scrollbar-width: none;
  z-index: 12;
  height: 100vh;
  margin: auto;
  transform-origin: 0 100%;
  transition: transform 0.5s ease-out;
  width: 390px;
}

.modal-body-container {
  width: 390px;
  margin: auto;
  
}

.opacity-100 {
  opacity: 1;
  transition: 1s ease-in-out;
  
}

.opacity-0 {
  opacity: 0;
  transition: 0.25s ease-in-out;
}

.open-modal {
  transform: translateY(0);
}

.close-modal {
  transform: translateY(100vh);
}

.shadow {
  /* background-color: black; */
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  position: fixed;
  z-index: 12;
  left: 0;
  right: 0;
  transition: 0.25s ease-in;
  pointer-events: none;
  backdrop-filter: blur(4px);
}

.shade-on {
  opacity: 85%;
}
.shade-off {
  opacity: 0%;
}

.fm-details .fm-movie-card {
  background-size: cover;
  aspect-ratio: 1.78 / 1;
}

/* .fm-details .container { 
  padding: 32px 0px 0px;
} */


.orange > button {
  color: var(--safety-orange);
}

.orange button span {
  color: var(--peach-puff)
}


/* Film Modal */

.filmModal-cover {
  cursor: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* aspect-ratio: 1.78 / 1; */
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 18px 18px 28px;
  box-sizing: border-box;
  justify-content: space-between;
  background-blend-mode: multiply;
}

.cover-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
}

.cover-buttons span {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  
}

.edit-button {
  background-color: var(--viking);
  border: none;
  border-radius: 16px;
  color: var(--white);
  cursor: pointer;
  padding: 4px;
  width: 32px;
  height: 32px;
}

.cover-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cover-details h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

.cover-details .film--title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.cover-details h1 {
  font-size: 32px;
  font-weight: 900;
  color: var(--light-blue)
}

.cover-details .film--year {
  font-size: 24px;
  font-weight: 300;
}

.cover-details p {
  color: var(--viking);
  font-size: 12px;
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  margin: 0;
}

.filmModal-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 28px 18px 18px;
}

.screenModal-details {
  border-bottom: 2px solid var(--tiber);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 28px 18px 18px;
}

.film-stats {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filmModal-details .series p, 
.filmModal-details .rating-duration-format p,
.screenModal-details .series p, 
.screenModal-details .rating-duration-format p {
  color: var(--tiber);
  font-size: 16px;
  font-weight: var(--fw-semibold);
  margin: 0;
  line-height: 1;
}

.filmModal-details .overview p,
.screenModal-details .overview p {
  color: var(--deep-teal);
  font-size: 14px;
  font-weight: var(--fw-regular);
  line-height: 20px;
  margin: 0;
}