* {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 32px;
  font-weight: var(--xblack);
}

h2 {
  font-size: 24px;
  font-weight: var(--bold);
}

h3 {
  font-size: 18px;
  font-weight: var(--bold);
}

h4 {
  font-size: 16px;
  line-height: 1.25;
  font-weight: var(--regular);
}
.title-year h4 {
  font-weight: var(--xblack);
}



p {
  font-size: 12px;
  line-height: 1.25;
  /* margin: 2px 0; */
}
.nav-filters p,
.month-year-wrap p,
.modal .cover .details p,
.modal-details .stats p,
.search-end p {
  font-weight: var(--semibold);
}
.nav-filters > div p {
  line-height: 1;
}
.modal p {
  font-size: 14px;
  line-height: 1.5;
}

.details p {
  font-size: 10px;
  font-weight: var(--regular);
  /* margin: 0; */
}





a {
  color: var(--orient);
  text-decoration: none;
  font-weight: var(--medium);
}


a:visited {
  color: var(--orient);
}



/* Navigation */




/* Home Page */

.sc-home .signin-text {
  text-align: center;
}

/* Empty Component */

.empty-text {
  text-align: center;
  line-height: 2;
}

/* Page Components */

/* Account Page */

.account .g-signout > button {
  font-size: 14px;
  font-weight: var(--semibold);
  line-height: 1;
}

/* Calendar & Screenings Page - Movies */

.month-year-wrap {
  font-size: 14px;
  font-size: .875rem;
  letter-spacing: .4px;
  line-height: 1;
  text-transform: uppercase;
}


.day {
  text-align: center;
}

.day h2 {
  font-weight: var(--light);
}

.day span {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

/* Movie Card */

.movie-card .series > span {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 0.75;
}

/* Modal - Cover */


.modal .cover .year {
  font-size: 24px;
  font-weight: 300;
}


.year {
  font-size: 12px;
  font-weight: normal;
}

/* Modal - Details */


.modal-details .buttons a {
  font-size: 14px;
  font-weight: var(--semibold);
  line-height: 1;
  
  text-align: center;
  text-decoration: none;
}

.modal-details .buttons > button {
  font-size: 14px;
  font-weight: var(--semibold);
  line-height: 1;
}

/* Modal - Submit Form */

.submit input {
  font-size: 14px;
  font-weight: var(--regular);
}

.submit label {
  font-size: 16px;
  font-weight: var(--semibold);
}

/* Search Functions */

.search-results-number {
  font-size: 16px;
  font-weight: var(--medium);
  line-height: 1;
}

/* Search Box */

.search-box .buttons > button {
  font-size: 16px;
  font-weight: var(--medium);
}

.search-box h4 {
  font-weight: var(--medium);
}

.search-box input {
  font-size: 1rem; /* 20px */
  line-height: 1.5rem; /* 28px */
}

/* Search Results */


/* Footer */

button.navButton span {
  font-size: 12px;
  font-weight: 500;
}